<div id="home">

	<div class="intro">
		<b>Contriburator</b> Transparent handling of monetary contributions to Open Source Software.
	</div>

	<div id="features">

		<!-- Projects -->
		<div class="feature write">
			<div class="feature-wrapper">
				<h1 class="feature-title">Projects</h1>

				<p class="feature-descr">
					<b>Support</b> open source projects you're interested in.
				</p>

				<ul class="feature-properties">
					<li>
						<div>Search by name</div>
						<div class="descr">Find relevant projects by name</div>
					</li>
					<li>
						<div>Faceted Browsing</div>
						<div class="descr">Filter matched people using faceted navigation</div>
					</li>
				</ul>

			</div>
		</div>

		<!-- People -->
		<div class="feature browse">
			<div class="feature-wrapper">
				<h1 class="feature-title">People</h1>

				<p class="feature-descr">
					<b>Find</b> people involved with valuable open source projects.
				</p>

				<ul class="feature-properties">
					<li>
						<div>Search by name</div>
						<div class="descr">Find relevant people by name or github handle</div>
					</li>
					<li>
						<div>Faceted Browsing</div>
						<div class="descr">Filter matched people using faceted navigation</div>
					</li>
				</ul>

			</div>
		</div>

		<!-- Motivation -->
		<div class="feature contribute">
			<div class="feature-wrapper">
				<h1 class="feature-title">Motivation</h1>

				<p class="feature-descr">
					The world will be a better place
				</p>

				<p class="feature-descr">
					As soon as more people start using it
				</p>

			</div>
		</div>

	</div>
</div>
